.header
    {
        width : 100%;
        background-color: rgb(30, 60, 123);
        border-bottom: solid 5px rgb(78,122,189)
    }

.menu
    {
        margin : 0;
        padding : 20px;
        display: flex;
        list-style: none;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }

.logo
    {
        height:4rem;
    }    

    .menu li
        {
            font-weight: 600;
            padding:5px;
            text-align: center;
        }